* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

audio {
  display: none;
}

body {
  background-color: #c4d2f5;
  font-family: "inter", sans-serif;
  font-style: normal;
}

.player,
.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  gap: 30px;
  margin: 100px;
  background-color: white;
  display: flex;
  width: 440px;
  padding: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0 0 0 20px rgba(255, 254, 254, 0.15);
}

.player-header {
  gap: 10px;
}
.player-track-title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
.player-track-artist {
  color: #909090;
  font-size: 15px;
  font-weight: 800;
  line-height: normal;
}

.player-progress {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 15px;
}
.player-progress-bar {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 3px;
  background: var(--light-gray, #f6f6ef);
}

.player-progress-inner {
  width: 120px;
  height: 6px;
  background: #e783bc;
}

.player-time {
  color: #909090;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
}
.fa-circle-play,
.fa-circle-pause {
  color: #e783bc;
  font-size: 74px;
}
