* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

audio {
  display: none;
}

body {
  background-color: #c4d2f5;
  font-family: "inter", sans-serif;
}

.player,
.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  gap: 30px;
}

.player-header {
  gap: 10px;
}
.player-track-title {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.player-track-artist {
  color: #909090;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.player-progress {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 15px;
}

.player-progress-inner {
  width: 120px;
  height: 6px;
}
